.field {
    position: relative;
    width: 500px;
    height: 500px;
    border: none;
    color: gray;
    background-color: gray;
    z-index: 0;
    display: block;
}
.mapBlock {
    position: absolute;
    width: 90px;
    height: 90px;
    border: none;
    z-index: 2;
    display: none;
    background-size: 100% 100%;
    background-color: blue;
    color: blue;
}
.block {
    position: absolute;
    width: 26px;
    height: 26px;
    border: none;
    z-index: 1;
    background-size: 100% 100%;
    background-color: red;
    color: red;
}
.cycle {
    position: absolute;
    width: 27px;
    height: 27px;
    border: none;
    z-index: 1;
    background-size: 100% 100%;
}
